body {
  background-color: #111223;
}

div[class*='AdHolder'],
div[class*='sbv-product'],
div[class*='sbv-video-container'],
div[class*='template=SHOPPING_ADVISER']{
  display: none;
  visibility: none;
  aria-hidden: "true";
  hidden: true;
  height: 0;
  overflow: hidden;
}

